{% extends 'frontOffice/base.html.twig' %}

{% block body %}
    <div class="sub-banner">
        <div class="overlay">
            <div class="container">
                <div class="breadcrumb-area">
                    <div class="top">
                        <h1>About Us</h1>
                    </div>
                    <ul class="breadcrumbs">
                        <li><a href="index-2.html">Home</a></li>
                        <li class="active">About Us</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="about-city-estate">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="about-text">
                        <h3>We are the Most Professional Property Company in America Right Now!!</h3>
                        <p>One morning, when Gregor Samsa woke from troubled dreams, he found himself transformed in his bed into a horrible vermin. He lay on his armour-like back, and if he lifted his head a little he could see his brown belly, slightly domed and divided by arches into stiff sections. </p>
                        <ul class="clearfix">
                            <li>
                                <i class="fa fa-check-square"></i><span>Professional Variations</span>
                            </li>
                            <li>
                                <i class="fa fa-check-square"></i><span>Happy Clients</span>
                            </li>
                            <li>
                                <i class="fa fa-check-square"></i><span>Guaranteed</span>
                            </li>
                            <li>
                                <i class="fa fa-check-square"></i><span>Clean design</span>
                            </li>
                            <li>
                                <i class="fa fa-check-square"></i><span>Consulting</span>
                            </li>
                            <li>
                                <i class="fa fa-check-square"></i><span>Advertise</span>
                            </li>
                        </ul>
                        <a href="#" class="btn button-md button-theme">Read More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}