<footer class="main-footer clearfix">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-6 footer-item">
                <div class="footer-item-content">
                    <a href="index-2.html" class="footer-logo">
                        <img src="img/footer-logo.png" alt="footer-logo">
                    </a>
                    <div class="clearfix"></div>
                    <!-- paragraph -->
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                </div>
            </div>

            <div class="col-md-3 col-sm-6 footer-item">
                <div class="footer-item-content">
                    <h2 class="title">Address</h2>
                    <!-- Contact Info -->
                    <ul class="contact-info">
                        <li class="clearfix">
                            <i class="fa fa-map-marker fa-lg"></i>
                            <label>20/F Kathalbagan Green Road, Dhanmondi, Dhaka-1205</label>
                        </li>
                        <li class="clearfix">
                            <i class="fa fa-mobile fa-lg"></i>
                            <label>+55 4XX-634-7071</label>
                        </li>
                        <li class="clearfix">
                            <i class="fa fa-envelope-o fa-lg"></i>
                            <label>
                                <a href="mailto:info@themevessel.com">info@themevessel.com</a>
                            </label>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="col-md-3 col-sm-6 footer-item clearfix">
                <div class="footer-item-content">
                    <h2 class="title">Helpful Links</h2>
                    <ul class="links">
                        <li>
                            <a href="#">Login</a>
                        </li>
                        <li>
                            <a href="#">Register</a>
                        </li>
                        <li>
                            <a href="#">Sign Up</a>
                        </li>
                        <li>
                            <a href="#">My Account</a>
                        </li>
                        <li>
                            <a href="#">Add Property</a>
                        </li>
                        <li>
                            <a href="#">Pricing</a>
                        </li>
                        <li>
                            <a href="#">Privacy Policy</a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="col-md-3 col-sm-6 footer-item clearfix">
                <div class="footer-item-content">
                    <div class="newsletter">
                        <h2 class="title">Newsletter</h2>
                        <div class="f-text">
                            Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                        </div>

                        <form action="#" method="post">
                            <p>
                                <input class="nsu-field btn-block" id="nsu-email-0" type="text" name="email" placeholder="Enter your Email Address" required="">
                            </p>

                            <p>
                                <button type="submit" class="button-sm button-theme btn-block">Signup</button>

                            </p>
                        </form>
                        <!-- / Newsletter Sign-Up -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>